main
{position: absolute;
width: 1340px;
height: 599px;
left: 72px;
top: 72px;
right: 72px;

background: #FFFFFF;
box-shadow: 4px 4px 40px 5px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

h2 {
    position: absolute;
width: 460px;
height: 184px;
left: 140px;
top: 267px;

font-family: Baloo Chettan 2;
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 66px;

color: #000000;
}
.rect {
position: absolute;
width: 132px;
height: 39px;
left: 668px;
top: 97px;

background: #FF9A61;
border-radius: 20px;
}
.rectext {
    position: absolute;
width: 113px;
height: 36px;
left: 681px;
top: 100px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;

color: #FFFFFF;
}