@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,400&display=swap');

main
{position: absolute;
width: 1340px;
height: 599px;
left: 72px;
top: 72px;
right: 72px;

background: #FFFFFF;
box-shadow: 4px 4px 40px 5px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

h2 {
position: absolute;
width: 460px;
height: 184px;
left: 140px;
top: 267px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 66px;

color: #000000;
}